<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <title>Mission to Mars</title>

    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
</head>
<body style="background-color:rgb(214, 209, 207); color:black">
    <div class="container">
        <div style="background:linear-gradient(to bottom, #615c5c 15%, #868483 85%)!important" class="jumbotron text-center">
            <h1>Mission to Mars</h1>
        </div>
        <!--Add section for Mars News-->
       
        <div class="row" id="mars-news">
            <div class="col-md-12">
            <div class="media">
                <div class="media-body">
                    <h2>Latest Mars News</h2>
                    <h4>{{marsinfo.news_title}}</h4>
                    <p>{{marsinfo.news_p}}</p>
                </div>
            </div>
            </div>
        </div>
        
        <!--Section for Mars Feature Image and Fact table-->
        <!--First Level-->
        <div class="row" id="mars-featured-image">
            <!--Second Level-->
            <div class="col-md-7">
                <h2>Feature Mars Image</h2>
                <img 
                src="{{marsinfo.featured_image_url}}" 
                class="img-responsive" 
                alt="Responsive image"
                />
             
            </div>
            <div class="col-md-4">
                <!--Mars Facts-->
                <div class="table-responsive" id="mars-facts" align="center">
                    <h2>Mars Facts</h2>
                    
                    {{marsinfo.facts_table|safe}}

                </div>
            </div>
        </div>
        <div class="row" id="mars-hemisphere">
            <div class="col-md-12">
                <h2><center>Mars Hemispheres</center></h2>
               
                    <div class="col-md-3">
                        <div class = "thumbnail">
                            <img src="{{marsinfo.hemisphere_image_urls[0].img_url}}" />
                              <h3><b>{{marsinfo.hemisphere_image_urls[0].title}}</b></h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class = "thumbnail">
                              <img src="{{marsinfo.hemisphere_image_urls[1].img_url}}" />
                              <h3><b>{{marsinfo.hemisphere_image_urls[1].title}}</b></h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class = "thumbnail">
                              <img src="{{marsinfo.hemisphere_image_urls[2].img_url}}" />
                              <h3 ><b>{{marsinfo.hemisphere_image_urls[2].title}}</b></h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                              <img src="{{marsinfo.hemisphere_image_urls[3].img_url}}" />
                              <h3><b>{{marsinfo.hemisphere_image_urls[3].title}}</b></h3>
                        </div>
                    </div>
              
            </div>
        </div>
        
    </div>
</body>
</html>
